.App {
  text-align: center;
  font-size: calc(7px + 2vmin);
}
body {
  background-color: #7c818c;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
form {
  text-align: left;
}
.textBox {
  margin-left: 5%;
  margin-top: .25vmin;
  width: 90%;
  height: 5vmin;
  font-size: 2vmin;
  border-top: none; 
  border-left: none;
  border-radius: 5px; 
}
.button {
  background-color: #5294e2;
  color: white;
  margin-left: 5%;
  margin-top: .5vmin;
  width: 90%;
  height: 5vmin;
  font-size: 2vmin;
  border: none;
  border-radius: 5px;
}

.standardLink {
  display:inline;
  float:right;
  padding:0px 10px 0px 10px;
  color:#ffffff;
  text-decoration:none;
  font-size:calc(5px + 2vmin);
}
.boardRow {
  color: #000000;
  text-decoration:none;
  font-size:calc(10px + 2vmin);
}

.App-header {
  background-color: #383c4a;
  height: calc(4vmin);
  vertical-align: center;
  font-size: calc(7px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.boardListing {
  background-color: #404552;
  padding: 1vmin;
}
.boardListing:hover {
  background-color: #4b5162;
  padding: 2vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
