.App {
  text-align: center;
  font-size: 30px;
  color: white;
}
body {
  background-color: #404552;
}

form {
  text-align: center;
}

.textBox {
  width: 90%;
  height: 5vmin;
  font-size: 2vmin;
  border-top: none; 
  border-left: none;
  border-radius: 5px; 
}

.button {
  background-color: #5479a7;
  width: 90%;
  height: 5vmin;
  font-size: 2vmin;
  border: none;
  border-radius: 5px;
}
.button:hover {
  background-color: #7da2cf;
}

.App-header {
  background-color: #2d313d;
  height: 45px;
  font-size: 25px;
  color: white;
}

.standardLink {
  float: right;
  padding:8px 10px 0 10px;
  color:#ffffff;
  text-decoration:none;
  font-size: 20px;
}

.standardLink:hover {
  height: 35px;
  background-color: #70788b;
  border-radius: 20px;
}

.boardRow {
  color: white;
  text-decoration:none;
  font-size: 25px;
}

.App-link {
  color: #61dafb;
}

.boardListing {
  text-align: center;
  width: 97%;
  height: 4em;
  margin: 20px 1.5%;
  padding-top: 7px;
  border-radius: 20px;
  background-color: #4b5162;
}

.boardListing:hover {
  background-color: #70788b;
  width: 97%;
  height: 4em;
  margin: 20px 1.5%;
  border-radius: 20px;
  padding-top: 7px;
}

.title {
  margin:0;
  width: 100%;
  padding-bottom: 8px;
  background-color: #282c3479;
}

.newLane {
  font-size: 25px;
  background-color: #4b5162ef;
  flex: 0 0 auto;
  margin-left: 10px;
  width: 20vmax;
  height: 3.6em;
  border-radius: 10px;
}

.newLane:hover {
  background-color: #70788bef;
}

.swimLane {
  text-align: left;
  font-size: 25px;
  background-color: #4b5162ef;
  flex: 0 0 auto;
  margin-left: 10px;
  padding-left: 10px;
  margin-left: 10px;
  width: 20vmax;
  height: 95%;
  border-radius: 10px;
}

/*.swimLane:hover {
  background-color: #70788bef;
}*/

.SLTitle {
  width: 80%;
  height: 30px;
  color: white;
  font-size: 20px;
  margin-left: 10px;
}

.SLHeader {
  padding-top: 5px;
}

.SLHeader h3 {
  margin: 0;
}

.SLHeader input[type=text] {
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid #282c34;
}

.SLHeader input[type=text]:focus {
  background-color: white;
  color: black;
}

.addCardBtn {
  height: 75px;
  /*width: calc(100%-10vmin);*/
  margin: 0;
  margin-right: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.addCardBtn:hover {
  background-color: #70788bef;
  border-radius: 10px;
}

.addCardBtn p {
  padding-top: 15px;
}

.card {
  background-color: #70788b;
  margin: 0;
  margin-right: 10px;
  border-radius: 10px;
}

.card h4 {
  margin: 0;
  margin-top: 20px;
  padding: 0 10px;
  word-wrap: break-word;
}

.card p {
  padding: 0 5px 5px;
  margin: 0;
  font-size: 15px;
  word-wrap: break-word;
}

#sideBarActivator {
  float: right;
  width: 50px;
  margin-right: 10px;
  margin-top:-50px;
}
#sideBarActivator:hover {
  background-color: #70788b;
  height: 45px;
  border-radius: 5px;
}

#menu {
  position:fixed;
  z-index: 999;
  top: 0;
  right: 0;
  display:none;
  width: 100%;
  height:100%;
}
#menuActual {
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  background-color: #282c34;
  float: right;
  z-index: 999;
}

#menuActual p {
  font-size: 20px;
  text-align: left;
  padding: 1em 2em;
}

.exitPopoutText {
  vertical-align: middle;
  display: table-cell;
  font-size: 10vmin;
}

#menuSetup{
  transition:.25s;
  background-color:#282c34;
  width: 75%;
  height: 100%;
  float: left;
  opacity: 0;
  z-index: 999;
}
#menuSetup:hover{
  opacity: .5;
}

.deletePopout {
  background-color: #FF2424;
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  transition: .25s;
}

.deletePopout:hover {
  background-color: #FF4444;
}

.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}

.slide-up {
  animation: slide-up 0.8s forwards;
  -webkit-animation: slide-up 0.5s forwards;
}

.slide-down {
  animation: slide-down 0.5s forwards;
  -webkit-animation: slide-down 0.5s forwards;
}
  
@keyframes slide-in {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0%); }
}
  
@keyframes slide-out {
  0% { transform: translateX(0%); }
  100% { transform: translateX(100%); }
}

@-webkit-keyframes slide-out {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(100%); }
}

@keyframes slide-down {
  0% { transform: translateY(0%); }
  100% { transform: translateY(100%); }
}

@-webkit-keyframes slide-down {
  0% { transform: translateY(0%); }
  100% { transform: translateY(100%); }
}
  
@keyframes slide-up {
  0% { transform: translateY(100%); }
  100% { transform: translateY(0%); }
}

@-webkit-keyframes slide-up {
  0% { -webkit-transform: translateY(100%); }
  100% { -webkit-transform: translateY(0%); }
}

.SLTitle::placeholder {
  color: white;
  opacity: 1;
}

.SLTitle:-ms-input-placeholder {
  color: white;
}

.SLTitle::-ms-input-placeholder {
  color: white;
}

#addCardForm {
  display: none;
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0px;
  z-index: 1;
  background-color: #282c34;
  float: right;
}

.cardForm {
  margin: 0px;
}

button.cardForm {
  width:95%;
  padding: 15px 0px;
  margin-bottom: 2%;
  border: none;
  border-radius: 5px;
  background-color: #70788b;
  color: #ffffff;
}
button.formAdd {
  background-color: #5479a7;
  margin: 0 0 25px 0;
}

button.formAdd:hover {
  background-color: #7da2cf;
}
