/* header and body */
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

.App {
  font-size: calc(7px + 2vmin);
  font-family: 'Orbitron', sans-serif;
  color: white;
}
.App-header {
  background-color: #000000;
  font-size: calc(7px + 2vmin);
}
.standardLink {
  color:#ffffff;
  font-size:calc(5px + 2vmin);
}
.standardLink:hover{
  color: black;
  background-color: white;
  cursor: pointer;
}
body {
  background-image: url("./spacecropped.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}



/*list of boards page/homepage */
.boardRow {
  color: #000000;
  font-size: 18px;
  font-family: 'Orbitron', sans-serif;
}
.boardListing {
  background-color: #ead3c1;
  border: 1px solid #a21747;
  border-radius: 10px;
}
.boardListing:hover {
  background-color: #FFF3EB;
  border: 1px solid #a21747;
  border-top-width: 1px;
  cursor: pointer;
}



/* swim lanes */
.newLane {
  background-color: #ead3c1;
  border: 1px solid #a21747;
  color: #a21747;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
}
.newLane:hover {
  background-color: #FFF3EB;
  border: 1px solid #a21747;
  cursor: pointer;
}
.newLane p {
  font-size: 25px;
}



/* create new board page */
form {
  color: white;
  font-family: 'Orbitron', sans-serif;
}
.textBox {
  font-size: 2vmin;
  border-top: none; 
  border-left: none;
  border-radius: 5px;
}
.button {
  background-color: #282c34;
  color: white;
  font-size: 2vmin;
}
.button:hover {
  background-color: #ead3c1;
  color: #000000;
  cursor: pointer;
}



/* view one board w options */
.title{
    color: white;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
  }  
#sideBarActivator:hover {
  color: black;
  background-color: white;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
}
#menuActual p {
  font-size: 20px;
  color: white;
}
#menuActual p:hover{
  color: #a21747;
  background-color: #FFF3EB;
  cursor: pointer;
}
#menuSetup:hover {
  cursor: pointer;
}
.exitPopoutText {
  font-size: 10vmin;
}